.container {
  .mat-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mat-dialog-title {
    margin: 0 0 20px;
    display: block;
  }
  .input {
    width: 100%;
  }
  .permission {
      margin-right: 8px
  }
}
