<div>
    <mat-spinner *ngIf="loaders.loader" class="loader" diameter="40"></mat-spinner>
    <div class="flex">
        <div>
            <mat-form-field class="field-width-date margin">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button color="primary" class="margin btn" mat-raised-button (click)="getRojMedBySelectedDate()"
                [disabled]="loaders.findBtnLoader">

                <ng-container *ngIf="!loaders.findBtnLoader"> Find</ng-container>

                <mat-spinner *ngIf="loaders.findBtnLoader" diameter="20"></mat-spinner>

            </button>
        </div>
        <div>
            <!-- Select date range -->
            <mat-form-field class="field-width margin">
                <mat-label>Select date range</mat-label>
                <mat-date-range-input [rangePicker]="picker1">
                    <input matStartDate [(ngModel)]="fromDate" placeholder="Start date">
                    <input matEndDate [(ngModel)]="toDate" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>
            <button color="primary" class="margin btn" mat-raised-button>
                <mat-icon class="icon">cloud_download</mat-icon>
                Download
            </button>
        </div>
    </div>
    <div class="contenier">
        <table>
            <tr>
                <td class="bold">
                    <div class="background-light-yellow bold">
                        {{ date | date: 'dd-MM-YYYY' }}
                    </div>
                    <div class="background-light-blue">
                        Available
                    </div>
                    <div class="background-light-green">
                        Sale
                    </div>
                    <div class=" background-light-green ">
                        Received
                    </div>
                    <div class="background-light-red ">
                        Purchase
                    </div>
                    <div class="background-light-red ">
                        Transferred
                    </div>
                    <div class="background-light-red ">
                        Expense
                    </div>
                    <div class="background-blue">
                        EOD
                    </div>
                    <div class="background-green">
                        Balance
                    </div>
                </td>
                <td *ngFor="let user of users">
                    <div class="background-light-yellow bold">
                        {{user.user_name | uppercase }}
                    </div>
                    <div class="background-light-blue">
                        ₹ {{!user.balance ? 0 : user.balance }}
                    </div>
                    <div class="background-light-green font-green" (click)="saleDialog(user.user_id)">
                        ₹ {{!user.sale? 0 : user.sale}}
                    </div>
                    <div class="background-light-green font-green" (click)="receiveDialog(user.user_id)">
                        ₹ {{!user.receive ? 0 : user.receive }}
                    </div>
                    <div class="background-light-red font-red" (click)="purchaseDialog(user.user_id)">
                        ₹ {{!user.purchase ? 0 : user.purchase }}
                    </div>
                    <div class="background-light-red font-red" (click)="transferDialog(user.user_id)">
                        ₹ {{!user.transfer ? 0 : user.transfer }}
                    </div>
                    <div class="background-light-red font-red" (click)="expenseDialog(user.user_id)">
                        ₹ {{!user.expense ? 0 : user.expense }}
                    </div>
                    <div class="background-blue">
                        ₹ {{ +( !user.sale ? 0 : user.sale ) + +(!user.receive ? 0 :
                        user.receive ) -
                        +(!user.purchase ? 0 : user.purchase ) - +(!user.expense ? 0 :
                        user.expense )
                        - +(!user.transfer ? 0 : user.transfer )
                        }}
                    </div>
                    <div class="background-green bold">
                        ₹ {{ +(!user.balance ? 0 : user.balance) + +( !user.sale ? 0 : user.sale ) + +(!user.receive ? 0
                        :
                        user.receive ) -
                        +(!user.purchase ? 0 : user.purchase ) - +(!user.expense ? 0 :
                        user.expense )
                        - +(!user.transfer ? 0 : user.transfer )
                        }}
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div class="flex">
            <button color="primary" class="margin btn" mat-raised-button (click)="getRojMedByPreviousDate()">

                <ng-container *ngIf="!loaders.prevBtnLoader">
                    Prev
                </ng-container>
                <mat-spinner *ngIf="loaders.prevBtnLoader" diameter="20"></mat-spinner>

            </button>
            <button color="primary" class="margin btn" mat-raised-button (click)="getRojMedByNextDate()">
                <ng-container *ngIf="!loaders.nextBtnLoader">
                    Next
                </ng-container>
                <mat-spinner *ngIf="loaders.nextBtnLoader" diameter="20"></mat-spinner>

            </button>
        </div>
    </div>
</div>
