.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin {
    margin: 0 7px 0 7px;
}

.field-width-date {
    width: 120px;
    font-size: 14px;
}

.field-width {
    width: 160px;
    font-size: 14px;
}

.btn {
    font-size: 13px;
    height: 33px;
}

table {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid lightgrey;
    div {
        padding: 5px 0 5px 5px;
        border: 1px solid lightgrey;
    }
}

tr,
td {
    border: none;
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.background-light-yellow {
    background-color: #99d224;
}
.background-light-blue {
    background-color: #aaaadd;
}

.background-green {
    background-color: #77ff3f;
}

.background-blue {
    background-color: #8dcbdf;
}

.background-light-green {
    background-color: #daf8da;
}

.font-green {
    color: green;
}

.background-light-red {
    background-color: #f3e1e1;
}

.font-red {
    color: red;
}
