<div>
    <mat-spinner *ngIf="loader" class="loader" diameter="40"></mat-spinner>
    <div class="flex">
        <div>
            <mat-form-field class="field-width-date margin">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" ngModel="currentDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button color="primary" class="margin btn" mat-raised-button>Find</button>
        </div>
        <div>
            <!-- Select date range -->
            <mat-form-field class="field-width margin">
                <mat-label>Select date range</mat-label>
                <mat-date-range-input [rangePicker]="picker1">
                    <input matStartDate [(ngModel)]="fromDate" placeholder="Start date">
                    <input matEndDate [(ngModel)]="toDate" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>
            <button color="primary" class="margin btn" mat-raised-button>
                <mat-icon class="icon">cloud_download</mat-icon>
                Download
            </button>
        </div>
    </div>
    <div class="contenier">
        <table>
            <tr>
                <td class="bold">
                    <div class="background-light-yellow bold">
                        {{ currentDate }}
                    </div>
                    <div class="background-light-blue">
                        Available
                    </div>
                    <div class="background-light-green">
                        Sale
                    </div>
                    <div class=" background-light-green ">
                        Received
                    </div>
                    <div class="background-light-red ">
                        Purchase
                    </div>
                    <div class="background-light-red ">
                        Transferred
                    </div>
                    <div class="background-light-red ">
                        Expense
                    </div>
                    <div class="background-blue">
                        EOD
                    </div>
                    <div class="background-green">
                        Balance
                    </div>
                </td>
                <td *ngFor="let user of users">
                    <div class="background-light-yellow bold">
                        {{user.user_name | uppercase }}
                    </div>
                    <div class="background-light-blue">
                        ₹ {{!user.balance ? 0 : user.balance }}
                    </div>
                    <div class="background-light-green font-green">
                        ₹ {{!user.sale_amount ? 0 : user.sale_amount }}
                    </div>
                    <div class="background-light-green font-green">
                        ₹ {{!user.receive_amount ? 0 : user.receive_amount }}
                    </div>
                    <div class="background-light-red font-red">
                        ₹ {{!user.purchase_amount ? 0 : user.purchase_amount }}
                    </div>
                    <div class="background-light-red font-red">
                        ₹ {{!user.transfers_amount ? 0 : user.transfers_amount }}
                    </div>
                    <div class="background-light-red font-red">
                        ₹ {{!user.expenses_amount ? 0 : user.expenses_amount }}
                    </div>
                    <div class="background-blue">
                        ₹ {{ +( !user.sale_amount ? 0 : user.sale_amount) + +(!user.receive_amount ? 0 :
                        user.receive_amount) -
                        +(!user.purchase_amount ? 0 : user.purchase_amount) - +(!user.expenses_amount ? 0 :
                        user.expenses_amount)
                        - +(!user.transfers_amount ? 0 : user.transfers_amount)
                        }}
                    </div>
                    <div class="background-green bold">
                        ₹ {{ +(user.balance) + +( !user.sale_amount ? 0 : user.sale_amount) + +(!user.receive_amount ? 0
                        : user.receive_amount) -
                        +(!user.purchase_amount ? 0 : user.purchase_amount) - +(!user.expenses_amount ? 0 :
                        user.expenses_amount)
                        - +(!user.transfers_amount ? 0 : user.transfers_amount) }}
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div class="flex">
            <button color="primary" class="margin btn" mat-raised-button>
                Prev
            </button> <button color="primary" class="margin btn" mat-raised-button>
                Next
            </button>
        </div>
    </div>
</div>
