table {
    width: 100%;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
}

.margin {
    margin: 0 9px 0 9px;
}

.field-width {
    width: 125px;
    font-size: 14px;
}

.btn {
    font-size: 13px;
    height: 33px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    font-size: 20px;
    text-align: center;

}

tr.mat-header-row,
tr.mat-row {
    height: 40px;
}

th {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

td {
    color: rgb(73 70 70 / 87%);
    font-size: 14px;
}

.select-all {
    margin: 5px 17px;
}

.total-count {
    font-size: 17px;
    color: #474747;
}

