<!-- performance start -->
<div>
    <h1 class="center">Performance</h1>
</div>
<div>
    <!-- Select date range -->
    <mat-form-field class="field-width margin">
        <mat-label>Select date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="startDate" placeholder="Start date">
            <input matEndDate [(ngModel)]="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <!-- button start -->
    <button color="primary" class=" btn" mat-raised-button (click)="getDayWiseChart()" [disabled]="loader">
        <span *ngIf="!loader"> Submit</span>
        <span>
            <mat-spinner *ngIf="loader" diameter="20"></mat-spinner>
        </span>
    </button>

</div>
<div>
    <!-- day wise chart -->
    <div class="chart-font center">
        <div>Day Wise Sales & Profit Chart </div>
        <div class="center total-count">
            <span>Total Sale:<b> {{dayWiseChartSummary.totalSale}}</b>, </span>
            <span>Total Profit: <b> {{dayWiseChartSummary.totalProfit}}</b> | </span>
            <span>Avg Sale: <b> {{dayWiseChartSummary.averageSale| number: '1.0-0'}}</b>, </span>
            <span>Avg Profit: <b> {{dayWiseChartSummary.averageProfit| number: '1.0-0'}}</b> </span>
        </div>
    </div>
    <!-- chart start -->

</div>
<div>
    <div id="dayWiseChartData"></div>
</div>
