.loader {
    position: absolute;
    top: 50%;
    left: 50%;
}
table{
    width: 100%;
}
th {
    color: rgb(0, 0, 0);
    font-size: 15px;
}
td {
    color: rgb(73 70 70 / 87%);
    font-size: 14px;
}
