<div class="main-header">
    <h1 mat-dialog-title><b> Move to Sales</b> </h1>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<br>
<div id="print">
    <div style="display: flex; justify-content: space-around;">
        <span style="border: 1px solid black; padding: 10px;
                     font-size: 14pxs; width: 1230px; margin: 0 10px;">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <b>{{customer | uppercase}} </b><br />
                    {{tier | uppercase}}
                </div>

                <div>
                    <b style="float: right;">No #:- {{token}} </b> <br>
                    {{currentDate| date: 'd-MM '}} &nbsp; <b>{{userName | uppercase}}</b>
                </div>
            </div>


            <div style="display: flex; justify-content: space-between; font-weight: bold; border-top: 1px solid black">
                <div>No.</div>
                <div>Item </div>
                <div>#</div>
                <div>Qty</div>
                <div>#</div>
                <div>Price </div>
                <div>Amount </div>
            </div>
            <ng-container *ngFor="let item of saleItems; let i = index">
                <div a-for style="display: flex; justify-content: space-between;border-top: 1px solid black;">
                    <div>{{i + 1 }}</div>
                    <div>{{item.item_code}}</div>
                    <div> <input type="checkbox"></div>
                    <div>{{item.qty}}</div>
                    <div> <input type="checkbox"></div>
                    <div>{{item.selling_price}}</div>
                    <div>{{+item.qty * +item.selling_price | currency: 'INR'}}</div>
                </div>
            </ng-container>
            <div style="border-top: 1px solid black;"></div>
            <div style="display: flex; justify-content: space-between;">
                <div><b>Total Qty: {{totalQty}}</b></div>
                <br>
                <div>
                    <div>
                        <b>Total: {{total | currency: 'INR'}}</b>
                    </div>
                </div>
            </div>
            <div style="float: right;">
                LB Due {{lastDue | currency: 'INR'}}
            </div>
            <br>
            <div style="border-top: 2px solid black;"></div>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <div><b> SP:</b> ___________ </div>
                    <div><b> Verifier:</b> ___________ </div>
                </div>
                <div>
                    <div style="float: right; "><b> Grand Total : {{grandDueTotal | currency: 'INR'}}</b></div><br>
                    <div style="float: right;">Payment: {{payment | currency: 'INR'}}</div><br>
                    <div style="float: right;">Other Payment: {{other_payment | currency: 'INR'}}</div><br>
                </div>
            </div>
            <div style="border-top: 2px solid black;">
                <div style="float: right;">
                    <b> Total Due: {{totalDue | currency: 'INR'}}</b>
                </div><br>
                <div>
                    <b>Remarks: </b>
                </div>
            </div>
        </span>


        <span style="border: 1px solid black; padding: 10px; font-size: 14pxs; width: 1230px; margin: 0 10px;">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <b>{{customer | uppercase}} </b><br />
                    {{tier | uppercase}}
                </div>

                <div>
                    <b style="float: right;">No #:- {{token}} </b> <br>
                    {{currentDate | date: 'd-MM '}} &nbsp; <b>{{userName | uppercase}}</b>
                </div>
            </div>


            <div style="display: flex; justify-content: space-between; font-weight: bold; border-top: 1px solid black">
                <div>S.No.</div>
                <div>Qty</div>
                <div>Item </div>
                <div>Price </div>
                <div>Amount </div>
            </div>
            <ng-container *ngFor="let item of saleItems; let i = index">
                <div a-for style="display: flex; justify-content: space-between;border-top: 1px solid black;">
                    <div>{{i + 1 }}</div>
                    <div>{{item.qty}}</div>
                    <div>{{item.item_code}}</div>
                    <div>{{item.selling_price}}</div>
                    <div>{{+item.qty * +item.selling_price |  currency: 'INR'}}</div>
                </div>
            </ng-container>
            <div style="border-top: 1px solid black;"></div>
            <div style="display: flex; justify-content: space-between;">
                <div><b>Total Qty: {{totalQty}}</b></div>
                <br>
                <div>
                    <div>
                        <b>Total: {{total | currency: 'INR'}}</b>
                    </div>
                </div>
            </div>
            <div style="float: right;">
                LB Due {{lastDue | currency: 'INR'}}
            </div>
            <br>
            <div style="border-top: 2px solid black;"></div>
            <div style="float: right; "><b> Grand Total : {{grandDueTotal | currency: 'INR'}}</b></div><br>
            <div style="float: right;">Payment: {{payment | currency: 'INR'}}</div><br>
            <div style="float: right;">Other Payment: {{other_payment | currency: 'INR'}}</div><br>
            <div style="border-top: 2px solid black;">
                <div style="float: right;">
                    <b> Total Due: {{totalDue | currency: 'INR'}}</b>
                </div><br>
            </div>

        </span>
    </div>
</div>
<br>
<button color="primary" mat-raised-button (click)="print()">Print</button>
