<!-- customer & supplier chart start -->
<div class="flex">
    <!-- customer start -->
    <div class="customer-chart-width">
        <div id="customerChartData"></div>

    </div>
    <!-- supplier start-->
    <div class="customer-chart-width">
        <div id="supplierChartData"></div>

    </div>
</div>


<div class="performance-container">
    <div class="performance-content flex justify-content">
        <div class="center summary-box">
            <div><b>{{invoice}}</b></div>
            <div class="primary font-size-14">Invoices</div>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{sales}}</b></div>
            <div class="primary font-size-14">Sales</div>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{profit}}</b></div>
            <div class="primary font-size-14">Profit</div>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{payment}}</b></div>
            <div class="primary font-size-14">Payments</div>
        </div>
        <div class="center summary-box">
            <div><b>{{qty}}</b></div>
            <div class="primary font-size-14">Qty</div>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{expense}}</b></div>
            <div class="primary font-size-14">Expenses</div>
        </div>
    </div>
</div>
