<!-- customer & supplier chart start -->
<div class="flex">
    <!-- customer start -->
    <div class="customer-chart-width">
        <div id="customerChartData"></div>

    </div>
    <!-- supplier start-->
    <div class="customer-chart-width">
        <div id="supplierChartData"></div>

    </div>
</div>


<div class="performance-container">
    <div class="performance-content flex justify-content">

        <mat-card class="center  summary-box">
            <mat-card-content>
                <div><b>{{invoice}}</b></div>
                <a class="primary font-size-14" [routerLink]="['/sales']">Invoices</a>
            </mat-card-content>
        </mat-card>

        <mat-card class="center  summary-box">
            <mat-card-content>
                <div><b>₹ {{sales}}</b></div>
                <a class="primary font-size-14" [routerLink]="['/sales']">Sales</a>
            </mat-card-content>
        </mat-card>
        <mat-card class="center  summary-box">
            <mat-card-content>
                <div><b>₹ {{profit}}</b></div>
                <a class="primary font-size-14" [routerLink]="['/sales']">Profit</a>
            </mat-card-content>
        </mat-card>
        <mat-card class="center  summary-box">
            <mat-card-content>
                <div><b>₹ {{payment}}</b></div>
                <a class="primary font-size-14" [routerLink]="['/sales']">Payments</a>
            </mat-card-content>
        </mat-card>
        <mat-card class="center  summary-box">
            <mat-card-content>
                <div><b>{{qty}}</b></div>
                <a class="primary font-size-14" [routerLink]="['/sales']">Qty</a>
            </mat-card-content>
        </mat-card>
        <mat-card class="center  summary-box">
            <mat-card-content>
                <div><b>₹ {{expense}}</b></div>
                <a class="primary font-size-14" [routerLink]="['/expenses']">Expenses</a>
            </mat-card-content>
        </mat-card>

    </div>
</div>
