<!-- customer & supplier chart start -->
<div class="flex">
    <!-- customer start -->
    <div class="customer-chart-width">
        <div id="customerChartData"></div>

    </div>
    <!-- supplier start-->
    <div class="customer-chart-width">
        <div id="supplierChartData"></div>

    </div>
</div>


<div class="performance-container">
    <div class="performance-content flex justify-content">
        <div class="center summary-box">
            <div><b>{{invoice}}</b></div>
            <a class="primary font-size-14"  [routerLink]="['/sales']">Invoices</a>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{sales}}</b></div>
            <a class="primary font-size-14"  [routerLink]="['/sales']">Sales</a>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{profit}}</b></div>
            <a class="primary font-size-14"  [routerLink]="['/sales']">Profit</a>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{payment}}</b></div>
            <a class="primary font-size-14"  [routerLink]="['/sales']">Payments</a>
        </div>
        <div class="center summary-box">
            <div><b>{{qty}}</b></div>
            <a class="primary font-size-14"  [routerLink]="['/sales']">Qty</a>
        </div>
        <div class="center summary-box">
            <div><b>₹ {{expense}}</b></div>
            <a class="primary font-size-14"  [routerLink]="['/expenses']">Expenses</a>
        </div>
    </div>
</div>
