.flex {
    display: flex;
}

.customer-chart-width {
    width: 50%;
}

.center {
    font-size: 22px;
    text-align: center;
}

.justify-content {
    justify-content: space-between;
}

.primary {
    color: #3f51b5;
}

.font-size-14 {
    font-size: 17px;
    padding-top: 8px;
    font-weight: bold;
}

.summary-box {
    border: 1px solid black;
    padding: 20px 50px;
    border-radius: 5px;
    width: 8%;
}

a {
    text-decoration: none;
}
