.container {
    .mat-form-field {
        width: 220px;
        display: flex;
        flex-direction: column;
    }

    .mat-dialog-title {
        margin: 0 0 20px;
        display: block;
    }

    .input {
        width: 100%;
    }

    .box {
        display: flex;
    }
    .background_color{
    background-color: lightgray;
    padding: 6px 0px 6px 5px;
    width: 98%;
}

    .block {
        margin: 0 10px 0 10px;

    }
}
