<div class="main-header">
    <h1 mat-dialog-title><b> Add Customer</b> </h1>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="container">
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="box">
            <!-- company start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Company</mat-label>
                    <input class="background_color" matInput formControlName="company" readonly   matTooltip="NOT Editable" required/>
                </mat-form-field>

            </div>
            <!-- name start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input class="background_color" matInput formControlName="name"  readonly matTooltip="NOT Editable" required/>
                </mat-form-field>

            </div>
        </div>
        <div class="box">
            <!-- Address start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <textarea class="background_color" matInput formControlName="address" readonly  matTooltip="NOT Editable" required></textarea>
                </mat-form-field>

            </div>
            <!-- Email start -->
            <div class="block" >
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input  class="background_color" matInput formControlName="email" required  readonly  matTooltip="NOT Editable" required/>
                </mat-form-field>

            </div>
        </div>
        <div class="box">
            <!-- mobileNumber start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input class="background_color" matInput formControlName="mobile" type="tel" type="number" readonly  matTooltip="NOT Editable" required />
                </mat-form-field>

            </div>
            <!--dueLimit start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Due Limit</mat-label>
                    <input type="number" matInput formControlName="dueLimit" required />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.dueLimit.touched &&
          !formGroup.controls.dueLimit.value
        ">
                        <span class="error">Due limit is Required</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="box">
            <!-- Balance start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Initial Balance</mat-label>
                    <input matInput formControlName="balance" type="number" required/>
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.balance.touched &&
          !formGroup.controls.balance.value
        ">
                        <span class="error">Initial Balance is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- Other start -->
            <!-- <div class="block">
                <mat-form-field>
                    <mat-label>Other</mat-label>
                    <input matInput formControlName="other" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.other.touched &&
          !formGroup.controls.other.value
        ">
                        <span class="error">Other is Required</span>
                    </ng-container>
                </div>
            </div> -->
              <!-- tire start -->
              <div class="block">
                <mat-form-field>
                    <mat-label>Select Tier</mat-label>
                    <mat-select formControlName="tier" name="tier"  required>
                        <mat-option *ngFor="let tire of tiers"  [value]="tire.id" (click)="findTierName(tire.id)">
                            {{tire.code}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.tier.touched &&
          !formGroup.controls.tier.value
        ">
                        <span class="error">Tier is Required</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="box">

            <!-- button start -->
            <div class="block">
                <br>
                <div class="btn-update">
                    <button mat-raised-button color="primary" [disabled]="!formGroup.valid || isShowLoader"
                        type="submit">
                        <span *ngIf="!isShowLoader">
                           ADD
                        </span>
                        <mat-spinner *ngIf="isShowLoader" class="inline-loader" diameter="20"></mat-spinner>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
