.container {
    .mat-form-field {
        width: 220px;
        display: flex;
        flex-direction: column;
    }

    .mat-dialog-title {
        margin: 0 0 20px;
        display: block;
    }

    .input {
        width: 100%;
    }

    .box {
        display: flex;
    }

    .block {
        margin: 0 10px 0 10px;

    }
}
