.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
.mat-dialog-title {
    margin: 5px 0 0  0;
    display: block;
}

.container {
    .mat-form-field {
        width: 220px;
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 100%;
    }

    .box {
        display: flex;
    }

    .background_color {
        background-color: lightgray;
        padding: 6px 0px 6px 5px;
        width: 98%;
    }

    .block {
        margin: 0 10px 0 10px;
    }
}
