<div class="login-page">
  <div class="content">
    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      fxFlex
    >
      <div class="text-center">
        <h2 class="app-name">Rj Inventory</h2>
      </div>
      <div fxFlex fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="username" />
          </mat-form-field>
          <mat-error>
            <span
              *ngIf="
                !loginForm.get('username').value &&
                loginForm.get('username').touched
              "
              >Username is Required</span
            >
          </mat-error>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
          <mat-error>
            <span
              *ngIf="
                !loginForm.get('password').value &&
                loginForm.get('password').touched
              "
              >Password is Required</span
            >
          </mat-error>
        </div>
      </div>
      <div
        fxFlex
        fxLayout="row"
        fxLayout.lt-md="column"
        style="margin: 20px 0 30px 0"
      >
        <div fxFlex fxLayoutAlign="end">
          <a href="javascript:void(0)">Forget Password</a>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <button
            mat-raised-button
            color="primary"
            class="w-100"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
