* {
    font-size: 14px;
}

table {
    width: 100%;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
}

.selectCustomerLoader {
    position: absolute;
    top: 0px;
    float: right;
    right: 18px;
}


.margin {
    margin: 0 7px 0 7px;
}

.field-width {
    width: 125px;
    font-size: 14px;
}

.btn {
    font-size: 13px;
    height: 33px;
}
.icon{
    vertical-align: text-top;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

th {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

td {
    color: rgb(73 70 70 / 87%);
    font-size: 14px;
}
