<div class="main-header">
    <h1 mat-dialog-title><b> {{ !this.data ? 'Add Expense' : 'Update Expense' }}</b> </h1>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<br>
<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <!-- Description start -->
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
        <div>
            <ng-container *ngIf="
        formGroup.controls.description.touched &&
        !formGroup.controls.description.value
      ">
                <span class="error">Description is Required</span>
            </ng-container>
        </div>
        <!-- Category start -->
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId" name="categoryId" required>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.code}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Amount start -->
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" type="number" required />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
            formGroup.controls.amount.touched &&
            !formGroup.controls.amount.value
            ">
                <span class="error">Amount Balance is Required</span>
            </ng-container>
        </div>
        <div>
            <mat-slide-toggle formControlName="isCashIn">{{formGroup.controls.isCashIn.value ? 'Cash in': 'Cash out'}}
            </mat-slide-toggle>
        </div>
        <br>

        <div class="btn-update">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">
                <span>
                    {{ !this.data ? 'Save' : 'Update' }}
                </span>
            </button>
        </div>
    </form>
</div>
