.main-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .mat-dialog-title {
        margin: 5px 0 0  0;
        display: block;
    }
    .mat-button {
        min-width: 40px;
        padding: 0 10px;
    }
}
.header {
    mat-form-field {
        width: 90px;
    }
}

.mat-elevation-z8 {
    table {
        width: 100%;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 49%;
}

.margin {
    margin: 0 8px 0 8px;
}

th {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

td {
    color: rgb(73 70 70 / 87%);
}

.active {
    margin-left: 30px;
}
