<div>
    <mat-spinner *ngIf="loader" class="loader" diameter="40"></mat-spinner>
    <div class="header">
        <div>
                  <!-- Select date range -->
                  <mat-form-field class="field-width margin">
                    <mat-label>Select date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="fromDate" placeholder="Start date">
                        <input matEndDate [(ngModel)]="toDate" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

            <!-- All supplier -->
            <mat-form-field class="margin field-width">
                <mat-label>All Suppliers</mat-label>
                <mat-select name="tier" [(ngModel)]="selectSupplierId" (selectionChange)="toggleCreateAddPurchaseButton()">
                    <mat-option >All suppliers</mat-option>
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.company"
                        (click)="toggleCreateAddPurchaseButton(); customerData(supplier); find(supplier.id)">
                        {{supplier.company | uppercase}}
                    </mat-option>
                </mat-select>
                <mat-spinner class="selectSupplierLoader" *ngIf="selectSupplierLoader" diameter="20"></mat-spinner>
            </mat-form-field>
        <!-- All user -->
        <mat-form-field class="field-width margin">
         <mat-label>All User</mat-label>
         <mat-select [(ngModel)]="userId">
             <mat-option value="0">--Select--</mat-option>
             <mat-option *ngFor="let user of userData" [value]="user.id">
                 {{user.user_name}}
             </mat-option>
         </mat-select>
     </mat-form-field>
       <!-- search  -->
       <mat-form-field class="field-width">
        <mat-label>Search...</mat-label>
        <input matInput type="text" [(ngModel)]="tableParams.search" (keyup.enter)="getPurchase()">
    </mat-form-field>
    <button color="primary" class="margin btn" mat-raised-button (click)="getPurchase()">
        Search
    </button>
     <!-- download  -->
            <button color="primary" class="margin btn" mat-raised-button>
                <mat-icon class="icon">cloud_download</mat-icon>
                Download
            </button>
            <button color="primary" class="margin btn" mat-raised-button *ngIf="!isShowAddPurchase" (click)="onAddNewPurchase()">
                Add New Purchase
            </button>
        </div>
        <div>
            <mat-slide-toggle color="primary" (change)="toggleType()" [checked]="tableParams.active">Active
            </mat-slide-toggle>
        </div>
    </div>
    <br />
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="company"
            matSortDirection="asc">
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.no}}
                </td>
            </ng-container>
            <ng-container matColumnDef="t">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>T</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.token}}
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.date  | date:  'M/d/yy, h:mm a'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="supplier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.supplier }}
                </td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.amount | currency: 'INR' }}</td>
            </ng-container>
            <ng-container matColumnDef="pd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PD</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.pending_due | currency: 'INR' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.total | currency: 'INR'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment</th>
                <td mat-cell *matCellDef="let element">{{ element.payment | currency: 'INR'}}</td>
            </ng-container>
            <ng-container matColumnDef="td">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TD</th>
                <td mat-cell *matCellDef="let element">{{ element.total_due | currency: 'INR'}}</td>
            </ng-container>
            <ng-container matColumnDef="op">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>OP</th>
                <td mat-cell *matCellDef="let element">{{ element.other_payment | currency: 'INR' }}</td>
            </ng-container>
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                <td mat-cell *matCellDef="let element">{{ element.user_name }}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container
                    *ngIf="loggedInUsersData.user_name === element.user_name && (element.date | date: 'M/d/yy')  ===  (currentDate | date: 'M/d/yy')">
                    <button mat-icon-button matTooltip="Click to Edit" color="primary" type="button"
                        (click)="onEditNewCustomers(element)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button [matTooltip]="tableParams.active? 'Click to de-active': 'Click to Active'"
                    [color]="tableParams.active? 'warn': 'primary'" (click)="changeStatus(element.id)">
                    <mat-icon aria-label="Delete">{{tableParams.active? 'visibility_off': 'visibility'}}</mat-icon>
                </button>
            </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="print">
                <th mat-header-cell *matHeaderCellDef>Print</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Click to PRINT" color="primary" type="button"
                        (click)="print(element)">
                        <mat-icon aria-label="PRINT" color="primary">print</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="defaultPageSize" showFirstLastButtons
            (page)="pageChanged($event)" [length]="+totalRows" aria-label="Select page of elements">
        </mat-paginator>
    </div>
</div>
