.mat-elevation-z8{
    max-width: 100%;
}
table {
    width: 100%;
}
.loader {
    position: absolute;
    top: 45%;
    left: 45%;
}
.margin {
    margin: 0 10px 0 10px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
th {
    color: rgb(0, 0, 0);
    font-size: 16px;
}
td {
    color: rgb(73 70 70 / 87%);
}
