<h1 mat-dialog-title>Change Password</h1>
<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Old Password</mat-label>
    <input
      matInput
      formControlName="oldPassword"
      type="password"
      minlength="6"
    />
  </mat-form-field>

  <div>
    <ng-container
      *ngIf="
        formGroup.controls['oldPassword'].invalid &&
        (formGroup.controls['oldPassword'].dirty ||
          formGroup.controls['oldPassword'].touched)
      "
    >
      <span
        class="error"
        *ngIf="formGroup.controls.oldPassword.errors.required"
      >
        Please enter old password
      </span>
    </ng-container>
  </div>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input
      matInput
      formControlName="newPassword"
      type="password"
      minlength="6"
    />
  </mat-form-field>
  <div>
    <ng-container
      *ngIf="
        formGroup.controls['newPassword'].invalid &&
        (formGroup.controls['newPassword'].dirty ||
          formGroup.controls['newPassword'].touched)
      "
    >
      <span
        class="error"
        *ngIf="formGroup.controls.newPassword.errors.required"
      >
        Please enter new password
      </span>
    </ng-container>
  </div>
  <br />
  <mat-form-field>
    <mat-label>Confirm New Password</mat-label>
    <input
      matInput
      formControlName="confirmNewPassword"
      type="password"
      minlength="6"
    />
  </mat-form-field>
  <div>
    <ng-container
      *ngIf="
        formGroup.controls['confirmNewPassword'].invalid &&
        (formGroup.controls['confirmNewPassword'].dirty ||
          formGroup.controls['confirmNewPassword'].touched)
      "
    >
      <span
        class="error"
        *ngIf="formGroup.controls.confirmNewPassword.errors.required"
      >
        Please re-enter new password
      </span>
      <span
        class="error"
        *ngIf="formGroup.controls.confirmNewPassword.errors.confirmedValidator"
      >
        Password doesn't match
      </span>
    </ng-container>
  </div>
  <br />

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!formGroup.valid"
    >
      <span> Update </span>
    </button>
  </div>
</form>
