<div class="main-header">
    <h1 mat-dialog-title><b> {{ !this.data ? 'Add Transfer' : 'Update Transfer' }}</b> </h1>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<br>

<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <!-- Date start -->
        <mat-form-field color="accent">
            <mat-label>Date</mat-label>
            <input matInput formControlName="transferDate" [matDatepicker]="date" [max]="currentDate"
                [(ngModel)]="currentDate" value="  date: 'dd/mm/yyy'" required>
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
        </mat-form-field>

        <div>
            <ng-container *ngIf="
        formGroup.controls.transferDate.touched &&
        !formGroup.controls.transferDate.value
      ">
                <span class="error">Date is Required</span>
            </ng-container>
        </div>


        <!-- Description start -->
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
        <div>
            <ng-container *ngIf="
        formGroup.controls.description.touched &&
        !formGroup.controls.description.value
      ">
                <span class="error">Description is Required</span>
            </ng-container>
        </div>

        <!-- Amount start -->
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" type="number" min="0" required />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.amount.touched &&
          !formGroup.controls.amount.value
        ">
                <span class="error">Amount Balance is Required</span>

            </ng-container>
        </div>

        <!-- user start -->
        <mat-form-field>
            <mat-label>User To</mat-label>
            <mat-select formControlName="toUserId" name="toUserId" required>
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.user_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.toUserId.touched &&
          !formGroup.controls.toUserId.value
        ">
                <span class="error">User is Required</span>

            </ng-container>
        </div>

        <!-- button start -->
        <br>
        <div class="btn-update">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid || isShowLoader" type="submit">
                <span *ngIf="!isShowLoader">
                    {{ !this.data ? 'Save' : 'Update' }}
                </span>
                <mat-spinner *ngIf="isShowLoader" class="inline-loader" diameter="20"></mat-spinner>
            </button>
        </div>
    </form>
</div>
