<app-smart-purchase [categories]="categories" [suppliers]="suppliers" [items]="items"></app-smart-purchase>
<br>
<app-profit-chart  [categories]="categories" [suppliers]="suppliers" [items]="items" [customers]="customers"></app-profit-chart>
<br>
 <app-sale-chart  [categories]="categories" [suppliers]="suppliers" [items]="items" [customers]="customers"></app-sale-chart>
<br>
<app-purchase-chart  [categories]="categories" [suppliers]="suppliers" [items]="items" [customers]="customers"></app-purchase-chart>

<mat-spinner *ngIf="loader" class="loader" diameter="40"></mat-spinner>
