.main-header{
    display: flex;
    justify-content: space-between;
    // margin-bottom: 10px;
    font-size: 14px;
l    .mat-dialog-title {
 //       margin: 5px 0 0  0;
        display: block;
    }
    .mat-button {
        min-width: 40px;
      //  padding: 0 5px;
    }
}
.item-form {
    .box {
        display: flex;

        mat-form-field {
            margin: 0 15px 0 15px;
            width: 200px;
            font-size: 14px;
        }
    }

    .block {
        display: table-caption;
    }

    .error {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.sales_details_table {
    .box {
        display: flex;

        mat-form-field {
            margin: 0 15px 0 15px;
            width: 120px;
            font-size: 14px;
        }
    }

    .add_button {
        height: 35px;
        width: 90px;
        margin-top: 10px;
    }
}

table {
    width: 100%;

    tr.mat-header-row,
tr.mat-row {
    height: 40px;
}
    th {
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    td {
        color: rgb(73 70 70 / 87%);
        font-size: 14px;
    }
}
.bill-container {
    .flex {

        display: flex;
        justify-content: space-between;
    }

    .totalAndBill {
        margin-left: 160px;

    }

    .remakesAndPayment {
        .padding {

            padding: 10px 0 0 15px;
        }
    }

    .tierLimitAndButton {
        .tierLimitAndButton_content_2 {
            float: right;
        }

        .right {
            float: inherit;
        }

        .margin {
            margin-right: 10px;
        }
    }
}
.margin {
    margin-right: 10px;
}
.loader {
    bottom: -12px;
    float: right;
    right: 60px;
}
mat-spinner{
    margin: 7px;
}
.uppercase{
    text-transform: uppercase;
}
.checkbox-margin{
    margin-top: 23px;
    margin-right: 14px;
}
.float{
    float:right;
}

