* {
    font-size: 14px;
}

table {
    width: 100%;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
}

.margin {
    margin: 0 3px 0 3px;
}

.field-width {
    width: 125px;
    font-size: 14px;
}

.btn {
    font-size: 12px;
    height: 33px;
}

.icon {
    vertical-align: text-top;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

tr.mat-header-row,
tr.mat-row {
    height: 40px;
}

tr.mat-header-row,
tr.mat-row {
    height: 40px;
}

th {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

td {
    color: rgb(73 70 70 / 87%);
    font-size: 14px;
}
.selectDropDownLoader {
    position: absolute;
    top: 2px;
    float: right;
    right: 20px;
}
