.main-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.mat-dialog-title {
    margin: 5px 0 0  0;
    display: block;
}
.container {
    .mat-form-field {
        width: 300px;
        display: flex;
        flex-direction: column;
    }


    .input {
        width: 100%;
    }
}

.item-form {
    .box {
        display: flex;
    }

    .block {
        margin: 0 10px 0 10px;
        display: table-caption;
    }
}
.example-chip-list{
    width: 100%;
    mat-icon{
        color: red;

    }
}
