<h1 mat-dialog-title> {{ !this.data ? 'Add CDF' : 'Update CDF' }} </h1>
<div class="container">
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="item-form">
            <div class="box">
                <!-- Email start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" (keyup)="onEmailCheck()" required>
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="!isEmailExist">
                            <span class="error">This email is exist, Please another email address</span>
                        </ng-container>
                        <ng-container *ngIf="
          formGroup.controls.email.errors &&
          !formGroup.controls.email.errors.required
          ">
                            <span class="error"><br>Please enter correct email address</span>
                            <br />
                        </ng-container>
                        <ng-container *ngIf="
           formGroup.controls.email.touched &&
           !formGroup.controls.email.value
           ">
                            <span class="error">Email is Required</span>
                        </ng-container>
                    </div>
                </div>
                <!-- first name start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>First Name & Last Name</mat-label>
                        <input matInput formControlName="name" />
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
          formGroup.controls.name.touched &&
          !formGroup.controls.name.value
        ">
                            <span class="error">Name is Required</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="box">
                <!-- company start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>Company Name</mat-label>
                        <input matInput formControlName="company" (keyup)="onCompanyCheck()" />
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="!isCompanyExist">
                            <span class="error">This company is exist, Please another company</span>
                        </ng-container>
                        <ng-container *ngIf="
          formGroup.controls.company.touched &&
          !formGroup.controls.company.value
        ">
                            <span class="error">Company is Required</span>
                        </ng-container>
                    </div>
                </div>
                <!-- Date start -->
                <div class="block">
                    <mat-form-field color="accent">
                        <mat-label>Business Started Date</mat-label>
                        <input matInput formControlName="date" aria-current="date" [max]="currentDate"
                            [matDatepicker]="date">
                        <mat-datepicker-toggle matSuffix [for]="date "></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
          formGroup.controls.date.touched &&
          !formGroup.controls.date.value
        ">
                            <span class="error">date is Required</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="box">
                <!-- Reference start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>Reference</mat-label>
                        <mat-select formControlName="reference" name="reference">
                            <mat-option *ngFor="let reference of references" [value]="reference.value">
                                {{reference.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
      formGroup.controls.reference.touched &&
      !formGroup.controls.reference.value
    ">
                            <span class="error">Reference is Required</span>
                        </ng-container>
                    </div>
                </div>
                <!-- Reference Person start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>Reference Person</mat-label>
                        <input matInput formControlName="referencePerson" />
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
      formGroup.controls.referencePerson.touched &&
      !formGroup.controls.referencePerson.value
    ">
                            <span class="error">Reference Person is Required</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="box">
                <!-- List of Brands start -->
                <div class="block">
                    <mat-form-field class="example-chip-list">
                        <mat-label>Brands</mat-label>
                        <mat-chip-list #chipList aria-label="brand selection">
                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" (removed)="remove(fruit)">
                                {{fruit.name}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="New brand..." formControlName="brands" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
      formGroup.controls.brands.touched &&
      !formGroup.controls.brands.value
    ">
                            <span class="error">Brands is Required</span>
                        </ng-container>
                    </div>
                    <!--  -->
                </div>
                <!-- List of Display Names start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>List of Display Names</mat-label>
                        <input matInput formControlName="displayNames" />
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
      formGroup.controls.displayNames.touched &&
      !formGroup.controls.displayNames.value
    ">
                            <span class="error">List of Display Names is Required</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="box">
                <!-- List of Sites start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>List of Sites</mat-label>
                        <mat-select formControlName="platforms" name="platforms" multiple>
                            <mat-option *ngFor="let platforms of ListOfSites" [value]="platforms.value">
                                {{platforms.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
          formGroup.controls.platforms.touched &&
          !formGroup.controls.platforms.value
        ">
                            <span class="error">List of Sites is Required</span>
                        </ng-container>
                    </div>
                </div>
                <!-- Other start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>Other</mat-label>
                        <input matInput formControlName="other" />
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
          formGroup.controls.other.touched &&
          !formGroup.controls.other.value
        ">
                            <span class="error">Other is Required</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="box">
                <!-- mobileNumber start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>Mobile Number</mat-label>
                        <input matInput formControlName="mobile" type="tel" type="number" (keyup)="onMobileCheck()" />
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="!isMobileExist">
                            <span class="error">This mobile number is exist, Please another mobile number </span>
                        </ng-container>
                        <ng-container *ngIf="
          formGroup.controls.mobile.touched &&
          !formGroup.controls.mobile.value
        ">
                            <span class="error">Mobile Number is Required</span>
                        </ng-container>
                    </div>
                </div>
                <!-- Address start -->
                <div class="block">
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address"></textarea>
                    </mat-form-field>
                    <div>
                        <ng-container *ngIf="
              formGroup.controls.address.touched &&
              !formGroup.controls.address.value
            ">
                            <span class="error">Address is Required</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- button start -->
            <div class="block">
                <div class="btn-update">
                    <button mat-raised-button color="primary" [disabled]="!formGroup.valid || isShowLoader "
                        type="submit">
                        <span *ngIf="!isShowLoader">
                            {{ !this.data ? 'Save' : 'Update' }}
                        </span>
                        <mat-spinner *ngIf="isShowLoader" class="inline-loader" diameter="20"></mat-spinner>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
