<div>
    <mat-spinner *ngIf="loader" class="loader" diameter="40"></mat-spinner>
    <div class="header">
        <div>
            <mat-form-field>
                <mat-label>Search...</mat-label>
                <input matInput type="text" [(ngModel)]="tableParams.search" (keyup.enter)="getCdf()">
            </mat-form-field>
            <button color="primary" class="margin" mat-raised-button (click)="getCdf()">
                Search
            </button>
            <button color="primary" *ngIf="false" mat-raised-button (click)="onAddNewCustomers()">
                Add Customers
            </button>
            <button color="primary" class="margin" mat-raised-button (click)="openTires()">
                Tiers
            </button>
            <button color="primary" class="margin" mat-raised-button>
                <mat-icon>cloud_download</mat-icon>
                Download
            </button>
            <button color="primary" class="margin" mat-raised-button>
                <mat-icon>cloud_upload</mat-icon>
                Upload
            </button>
        </div>
        <div>
            <mat-slide-toggle color="primary" (change)="toggleType()" [checked]="tableParams.active">Active
            </mat-slide-toggle>
        </div>
    </div>
    <br />
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="company"
            matSortDirection="asc">
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
                <td mat-cell *matCellDef="let element">
                    <b> {{ element.company | uppercase }} </b>
                </td>
            </ng-container>
            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Initial Balance</th>
                <td mat-cell *matCellDef="let element">{{ element.balance | currency: 'INR' }}</td>
            </ng-container>
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment</th>
                <td mat-cell *matCellDef="let element">{{ element.payment | currency: 'INR' }}</td>
            </ng-container>
            <ng-container matColumnDef="due_limit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Limit</th>
                <td mat-cell *matCellDef="let element">{{ element.due_limit | currency: 'INR' }}</td>
            </ng-container>
            <ng-container matColumnDef="tier_code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
                <td mat-cell *matCellDef="let element">{{ element.tier_code | uppercase}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="tableParams.active" mat-icon-button matTooltip="Click to Edit" color="primary"
                        type="button" (click)="onEditNewCdf(element)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="{{tableParams.active? 'Click to de-active': 'Click to Active'}}"
                        color="{{tableParams.active? 'warn': 'primary'}}" (click)="changeStatus(element.id)">
                        <mat-icon aria-label="Delete">{{tableParams.active? 'visibility_off': 'visibility'}}</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="defaultPageSize" showFirstLastButtons
            (page)="pageChanged($event)" [length]="+totalRows" aria-label="Select page of elements">
        </mat-paginator>
    </div>
</div>
