<div class="main-header">
    <h1 mat-dialog-title><b>Add Sales </b></h1>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<div class="container">
    <br>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="flex row-1">
            <!-- company start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>company</mat-label>
                    <input matInput required />
                </mat-form-field>
            </div>
            <!-- Date start -->
            <div class="width">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" [formControl]="date1" readonly matTooltip="Not Editable">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- invoice_number start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Invoice No.</mat-label>
                    <input matInput type="number" required />
                </mat-form-field>
            </div>
            <!-- ref name start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Ref no</mat-label>
                    <input matInput type="number" required />
                </mat-form-field>
            </div>
            <!-- buttons start -->
            <div>
                <button mat-raised-button color="primary" class="margin" type="submit">
                    Download
                </button>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit">
                    Upload
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <!-- Item Name start -->
        <div class="flex row-2">
            <div class="width">
                <mat-form-field>
                    <mat-label>Item code</mat-label>
                    <mat-select name="item code">
                        <mat-option formControlName="item_code" *ngFor="let item of items" [value]="item.id"
                            (click)="fillForm(item)">
                            {{item.item_code | uppercase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- hashtag start -->
            <div class="width">
                <mat-label>#</mat-label>
                <br>
                <mat-slide-toggle [(ngModel)]="isChecked"> plus </mat-slide-toggle>
            </div>
            <!-- Qty start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Qty</mat-label>
                    <input matInput formControlName="qty" required (keyup)="count()" />
                </mat-form-field>{{qty}}
            </div>
            <!-- Available start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Available</mat-label>
                    <input matInput formControlName="available" matTooltip="Not Editable" readonly />
                </mat-form-field>
            </div>
            <!-- Selling price start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Selling price</mat-label>
                    <input matInput formControlName="selling_price" matTooltip="Not Editable" readonly />
                </mat-form-field>
            </div>
            <!-- total price start -->
            <div class="width">

                <mat-form-field>
                    <mat-label>Total</mat-label>
                    <input matInput formControlName="total" matTooltip="Not Editable" readonly />
                </mat-form-field>
            </div>
            <!-- Add button start -->
            <div>
                <button mat-raised-button color="primary" class="margin" type="submit">
                    Add
                </button>
            </div>
        </div>
        <!-- button start -->
    </form>
</div>
<mat-divider></mat-divider>
<br>
<!-- table start -->
<div class="mat-elevation-z8">
    <table mat-table matSort matSortActive="item_name" matSortDirection="asc">
        <ng-container matColumnDef="item_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.item_name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
            <td mat-cell *matCellDef="let element">
                {{ element.qty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="edit_delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit/Delete</th>
            <td mat-cell *matCellDef="let element">
                {{ element.edit_delete }}
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td mat-cell *matCellDef="let element">
                {{ element.price}}
            </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let element">{{ element.total}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div class="bill-container">
    <div class="flex totalAndBill">
        <span class="totalAndBill_content-1">
            <div class="width">
                <mat-form-field>
                    <mat-label>Total Qty</mat-label>
                    <input matInput disable [(ngModel)]="totalQty" />
                </mat-form-field>
            </div>
            <div class="width">
                <mat-form-field>
                    <mat-label>Last Bill No</mat-label>
                    <input matInput disable [(ngModel)]="lastBillNo" />
                </mat-form-field>
            </div>
        </span>
        <span class="totalAndBill_content-2">
            <div class="width">
                <mat-form-field>
                    <mat-label>Total (₹)</mat-label>
                    <input matInput disable />
                </mat-form-field>
            </div>
            <div class="width">
                <mat-form-field>
                    <mat-label>Last Bill Due (₹)</mat-label>
                    <input matInput disable />
                </mat-form-field>
            </div>
        </span>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="flex remakesAndPayment">
        <div class="remakes">
            <textarea class="padding" id="" cols="60" rows="7" placeholder="Enter Remarks..."></textarea>
        </div>
        <div class="payment">
            <div class="width">
                <mat-form-field>
                    <mat-label>Grand Total (₹) </mat-label>
                    <input matInput disable />
                </mat-form-field>
            </div>
            <div class="width">
                <mat-form-field>
                    <mat-label>Payment (₹) </mat-label>
                    <input matInput disable />
                </mat-form-field>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex tierLimitAndButton">
        <div><br>(SLIVER) Due Limit: ₹100</div>
        <div class="tierLimitAndButton_content_2">
            <div class="right">
                <mat-form-field>
                    <mat-label>Total Due (₹) </mat-label>
                    <input matInput disable />
                </mat-form-field>
            </div>
            <br>
            <div class="">
                <button mat-raised-button color="primary" class="margin" type="submit">
                    Save & Rack
                </button>
                <span>
                    <button mat-raised-button color="warn" type="submit">
                        Save & Print
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
