<h1 mat-dialog-title> {{ !this.data ? 'Add Item' : 'Update Item' }} </h1>
<mat-divider></mat-divider>
<br>
<form [formGroup]="formGroup">
    <div class="item-form">
        <div class="box">
            <!--Item CODE start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Item Code</mat-label>
                    <input matInput formControlName="item_code" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
            formGroup.controls.item_code.touched &&
            !formGroup.controls.item_code.value
            ">
                        <span class="error">Item Code is Required</span>
                    </ng-container>
                </div>
            </div>
            <!--Item Name start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Item Name</mat-label>
                    <input matInput formControlName="item_name" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.item_name.touched &&
          !formGroup.controls.item_name.value
        ">
                        <span class="error">Item name is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- category start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" name="category">
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{category.code}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
                  formGroup.controls.category.touched &&
                  !formGroup.controls.category.value
                ">
                        <span class="error">Category is Required</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="box">
            <!-- Init Qty start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>Int. Qty</mat-label>
                    <input matInput formControlName="int_qty" type="number" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
                    formGroup.controls.int_qty.touched &&
                    !formGroup.controls.int_qty.value
                    ">
                        <span class="error">Int Qty is Required</span>
                    </ng-container>
                </div>
            </div>
            <!--SILVER  start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>SILVER</mat-label>
                    <input type="number" matInput formControlName="silver" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.silver.touched &&
          !formGroup.controls.silver.value
        ">
                        <span class="error">silver is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- RETAIL start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>RETAIL</mat-label>
                    <input matInput formControlName="retail" type="number" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.retail.touched &&
          !formGroup.controls.retail.value">
                        <span class="error">RETAIL is Required</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="box">
            <!-- Gold start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>GOLD</mat-label>
                    <input matInput formControlName="gold" type="number" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.gold.touched &&
          !formGroup.controls.gold.value
        ">
                        <span class="error">Gold is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- INDIAMART start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>INDIAMART</mat-label>
                    <input matInput formControlName="india_mart" type="number" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
                    formGroup.controls.india_mart.touched &&
                    !formGroup.controls.india_mart.value
                    ">
                        <span class="error">India Mart is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- DEALER start -->
            <div class="block">
                <mat-form-field>
                    <mat-label>DEALER</mat-label>
                    <input matInput formControlName="dealer" type="number" />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
                    formGroup.controls.dealer.touched &&
                    !formGroup.controls.dealer.value
                    ">
                        <span class="error">DEALER is Required</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Comment start -->
        <div class="block">
            <mat-form-field>
                <mat-label>Comment</mat-label>
                <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
            <div>
                <ng-container *ngIf="
                formGroup.controls.comment.touched &&
                !formGroup.controls.comment.value
                ">
                    <span class="error">Comment is Required</span>
                </ng-container>
            </div>
        </div>
    </div>
</form>
<mat-divider class="mat-divider"></mat-divider>
<br>

<!-- supplier form -->
<h1 mat-dialog-title>Supplier Details</h1>
<form [formGroup]="formSupplier" (ngSubmit)="addSupplier()">
    <div class="supplier_details_table">
        <!-- name start -->
        <div class="block">
            <mat-form-field class="input_width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="supplier_name" />
            </mat-form-field>
            <div>
                <ng-container *ngIf="
                formSupplier.controls.supplier_name.touched &&
                !formSupplier.controls.supplier_name.value
                ">
                    <span class="error">Name is Required</span>
                </ng-container>
            </div>
        </div>
        <!-- Qty start -->
        <div class="block">
            <mat-form-field>
                <mat-label>Qty</mat-label>
                <input matInput formControlName="supplier_qty" type="number" />
            </mat-form-field>
            <div>
                <ng-container *ngIf="
                formSupplier.controls.supplier_qty.touched &&
                !formSupplier.controls.supplier_qty.value
                ">
                    <span class="error">Qty is Required</span>
                </ng-container>
                <!-- <ng-container *ngIf=" formSupplier.controls.supplier_qty.touched &&
                formSupplier.controls.supplier_qty.value === true" onclick="clearSupplierInputBox()"></ng-container> -->
            </div>
        </div>
        <!-- rate start -->
        <div class="block">
            <mat-form-field class="input_width">
                <mat-label>Rate</mat-label>
                <input matInput formControlName="supplier_rate" type="number" />
            </mat-form-field>
            <div>
                <ng-container *ngIf="
                formSupplier.controls.supplier_rate.touched &&
                !formSupplier.controls.supplier_rate.value
                ">
                    <span class="error">Rate is Required</span>
                </ng-container>
            </div>
        </div>
        <!-- ADD BUTTON -->
        <button mat-raised-button color="primary" class="add_button"  type="submit" [disabled]="!formSupplier.valid" > Add

        </button>
    </div>
</form>
<br>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="supplierDataSource" matSort matSortActive="company" matSortDirection="asc">
        <ng-container matColumnDef="supplier_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let suppliers">
                {{ suppliers.supplier_name }}
            </td>
        </ng-container>
        <ng-container matColumnDef="supplier_qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
            <td mat-cell *matCellDef="let suppliers">
                {{ suppliers.supplier_qty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="supplier_rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
            <td mat-cell *matCellDef="let suppliers">
                {{ suppliers.supplier_rate }}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" color="primary" type="button"
                    (click)="getItemSupplier(element)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Click to Delete" color="warn" (click)="confirmDialog(element.id)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let supplierData; columns: displayedColumns"></tr>
    </table>
</div>
<br>
<mat-divider class="mat-divider"></mat-divider>
<br>
<!-- button start -->
<div class="btn-update">
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid || suppliers.length === 0 || isShowLoader"
        (click)="onSubmit()">
        <span *ngIf="!isShowLoader">
            {{ !this.data ? 'Save' : 'Update' }}
        </span>
        <mat-spinner *ngIf="isShowLoader" class="inline-loader" diameter="20"></mat-spinner>
    </button>
</div>
