<h1 mat-dialog-title> {{ !this.data ? 'Add Item' : 'Update Item' }} </h1>
<div class="container">
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <!-- item code start -->
        <mat-form-field>
            <mat-label>Item Code</mat-label>
            <input matInput formControlName="itemCode" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.itemCode.touched &&
          !formGroup.controls.itemCode.value
        ">
                <span class="error">Item Code is Required</span>
            </ng-container>
        </div>

        <!--Item Name start -->
        <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="itemName" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.itemName.touched &&
          !formGroup.controls.itemName.value
        ">
                <span class="error">Item name is Required</span>
            </ng-container>
        </div>

        <!-- category start -->
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" name="category">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <ng-container *ngIf="
              formGroup.controls.category.touched &&
              !formGroup.controls.category.value
            ">
                <span class="error">Category is Required</span>
            </ng-container>
        </div>

        <!-- Comment start -->
        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.comment.touched &&
          !formGroup.controls.comment.value
        ">
                <span class="error">Comment is Required</span>
            </ng-container>
        </div>



        <!-- Init Qty start -->
        <mat-form-field>
            <mat-label>Init. Qty</mat-label>
            <input matInput formControlName="initQty" type="number" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.initQty.touched &&
          !formGroup.controls.initQty.value
        ">
                <span class="error">Init. Qty is Required</span>
            </ng-container>
        </div>

        <!--SILVER  start -->
        <mat-form-field>
            <mat-label>SILVER</mat-label>
            <input type="number" matInput formControlName="silver" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.silver.touched &&
          !formGroup.controls.silver.value
        ">
                <span class="error">silver is Required</span>
            </ng-container>
        </div>

        <!-- RETAIL start -->

        <mat-form-field>
            <mat-label>RETAIL</mat-label>
            <input matInput formControlName="retail" type="number" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.retail.touched &&
          !formGroup.controls.retail.value
        ">
                <span class="error">RETAIL is Required</span>
            </ng-container>
        </div>

        <!-- Gold start -->
        <mat-form-field>
            <mat-label>GOLD</mat-label>
            <input matInput formControlName="gold" type="number" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.gold.touched &&
          !formGroup.controls.gold.value
        ">
                <span class="error">Gold is Required</span>
            </ng-container>
        </div>

        <!-- INDIAMART start -->
        <mat-form-field>
            <mat-label>INDIAMART</mat-label>
            <input matInput formControlName="indiaMart" type="number" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.indiaMart.touched &&
          !formGroup.controls.indiaMart.value
        ">
                <span class="error">India Mart is Required</span>
            </ng-container>
        </div>

        <!-- DEALER start -->
        <mat-form-field>
            <mat-label>DEALER</mat-label>
            <input matInput formControlName="dealer" type="number" />
        </mat-form-field>
        <div>
            <ng-container *ngIf="
          formGroup.controls.dealer.touched &&
          !formGroup.controls.dealer.value
        ">
                <span class="error">DEALER is Required</span>
            </ng-container>
        </div>



        <!-- button start -->
        <div class="btn-update">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid || isShowLoader" type="submit">
                <span *ngIf="!isShowLoader">

                    {{ !this.data ? 'Save' : 'Update' }}
                </span>
                <mat-spinner *ngIf="isShowLoader" class="inline-loader" diameter="20"></mat-spinner>
            </button>
        </div>
    </form>
</div>
