.item-form {
  mat-form-field {
    margin-right: 50px;
  }
}

.supplier_details_table {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .add_button {
    height: 35px;
    width: 90px;
    margin-top: 10px;
  }

  mat-form-field {
    width: 168px;
  }
}
table {
  width: 100%;
  th {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }

  td {
    color: rgb(73 70 70 / 87%);
  }
}

