// .container {
//   .mat-form-field {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//   }
//   .mat-dialog-title {
//     margin: 0 0 20px;
//     display: block;
//   }
//   .input {
//     width: 100%;
//   }
// }
.item-form{
    mat-form-field {
        margin-right: 50px;
      }
}
table {
  width: 100%;
}

th {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

td {
  color: rgb(73 70 70 / 87%);
}
.mat-divider {
  border-color: black;
}
.supplier_details_table {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .add_button {
    height: 35px;
    width: 90px;
    margin-top: 10px;
  }

  mat-form-field {
    width: 168px;
  }
}

