<div class="container">
    <!-- company status start  -->


    <div>
        <h1 class="center">Company Status</h1>
    </div>
    <div class="performance-content flex justify-content">
        <div class="center company-box">
            <div><b>{{customer}}</b></div>
            <div class="primary font-size-17">Customers</div>
        </div>
        <div class="center  company-box">
            <div><b>{{supplier}}</b></div>
            <div class="primary font-size-17">Suppliers</div>
        </div>
        <div class="center company-box">
            <div><b>{{product}}</b></div>
            <div class="primary font-size-17">Products</div>
        </div>
        <div class="center  company-box">
            <div><b>₹ {{totalBalance}}</b></div>
            <div class="primary font-size-17">Company Balance</div>
        </div>

    </div>

    <!-- company  balance chart -->
    <!-- <div class="center main-box">
    <div class="flex justify-content">

        <div class="content-box">
            <div class="text-box">

                <div class="font-size-14">Stock</div>
                <div class="font-size-14">{{stock}}</div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M35.9 35.7 15.3 15.1V34h-3V10h24v3H17.4L38 33.6Z"/></svg>


        </div>

        <div class="content-box">
            <div class="text-box">

                <div class="font-size-14">Cash on Hand</div>
                <div class="font-size-14">{{ userBalance }}</div>
            </div>
        </div>
    </div>

    <div class="flex justify-content-center">
        <div class="main-content-box">
            <div class="text-box">
            {{totalBalance}}
            </div>
        </div>
    </div>

    <div class="flex justify-content">
        <div class="content-box">
            <div class="text-box">
                <div class="font-size-14">Customers Due</div>
                <div class="font-size-14">{{customersDue}}</div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" class="primary" height="100" width="100"><path d="M35.9 35.7 15.3 15.1V34h-3V10h24v3H17.4L38 33.6Z"/></svg>
        <div class="content-box">

            <div class="text-box">
                <div class="font-size-14">Suppliers Due</div>
                <div class="font-size-14">{{suppliersDue}}</div>
            </div>
        </div>
    </div>

</div> -->
</div>
