<div class="container">
    <!-- company status start  -->
    <div>
        <h1 class="center">Company Status</h1>
    </div>
    <div class="performance-content flex justify-content">
        <mat-card class="center  company-box">
            <mat-card-content>
                <div><b>{{customer}}</b></div>
                <a class="primary font-size-17" [routerLink]="['/customers']">Customers</a>
            </mat-card-content>
        </mat-card>
        <mat-card class="center  company-box">
            <mat-card-content>
                <div><b>{{supplier}}</b></div>
                <a class="primary font-size-17" [routerLink]="['/suppliers']">Suppliers</a>
            </mat-card-content>
        </mat-card>
        <mat-card class="center  company-box">
            <mat-card-content>
                <div><b>{{product}}</b></div>
                <a class="primary font-size-17" [routerLink]="['/items']">Products</a>
            </mat-card-content>
        </mat-card>
        <mat-card class="center  company-box">
            <mat-card-content>
                <div><b>₹ {{totalBalance}}</b></div>
                <a class="primary font-size-17 pointer" (click)="onCompanyBalanceGraf()">Company Balance</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<br>
