.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .mat-dialog-title {
        margin: 5px 0 0 0;
        display: block;
    }

    .mat-button {
        min-width: 40px;
        padding: 0 10px;
    }
}

.item-form {
    .box {
        display: flex;

        mat-form-field {
            margin: 0 15px 0 15px;
            width: 200px;
            font-size: 14px;
        }
    }

    .block {
        display: table-caption;
    }

    .error {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.sales_details_table {
    .box {
        display: flex;

        mat-form-field {
            margin: 0 15px 0 15px;
            width: 120px;
        }
    }

    .add_button {
        height: 35px;
        width: 90px;
        margin-top: 10px;
    }
}

table {
    width: 100%;

    th {
        color: rgb(0, 0, 0);
        font-size: 16px;
    }

    td {
        color: rgb(73 70 70 / 87%);
    }
}

.bill-container {
    .flex {

        display: flex;
        justify-content: space-between;
    }

    .totalAndBill {
        margin-left: 160px;

    }

    .remakesAndPayment {
        .padding {

            padding: 10px 0 0 15px;
            height: 70px;
        }
    }

    .tierLimitAndButton {
        .tierLimitAndButton_content_2 {
            float: right;
        }

        .right {
            float: inherit;
        }

        .margin {
            margin-right: 10px;
        }
    }
}

.margin {
    margin-right: 10px;
}

.loader {
    bottom: -12px;
    float: right;
    right: 60px;
}

mat-spinner {
    margin: 7px;
}

.checkbox-margin {
    margin-top: 23px;
    margin-right: 14px;
}

.float {
    float: right;
}
