<div class="main-header">
    <h1 mat-dialog-title><b> {{ !this.data.purchaseId ? 'Add Purchase' : 'Update Purchase' }}</b> </h1>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<br>
<form [formGroup]="formGroup">
    <div class="item-form">
        <div class="box">
            <div class="block">
                <mat-form-field>
                    <mat-label>Supplier Name</mat-label>
                    <input matInput formControlName="supplier" [(ngModel)]="supplierName" [value]="supplierName | uppercase"  required>
                </mat-form-field>
            </div>
            <div class="block">
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput formControlName="date" [(ngModel)]="currentDate" value={{currentDate}} required>
                </mat-form-field>
            </div>

            <div class="block">
                <button mat-raised-button color="primary" class="margin">
                    Download
                </button>
            </div>
            <div class="block">
                <button mat-raised-button color="primary">
                    Upload
                </button>
            </div>
        </div>
    </div>
</form>
<mat-divider class="mat-divider"></mat-divider>
<br>
<!-- supplier form -->
<h1 mat-dialog-title>Purchase Details</h1>
<form [formGroup]="formSupplier" (ngSubmit)="addSalesQuotation()">
    <div class="sales_details_table">
        <div class="box">
            <div class="block">
                <mat-form-field class="input_width">
                    <mat-label>Item code</mat-label>
                    <mat-select name="item code">
                        <mat-option formControlName="item_code" *ngFor="let item of items" [value]="item.id"
                            (click)="fillSellingPrice(item.id)">
                            {{item.item_code | uppercase}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-spinner class="loader" *ngIf="selectItemLoader" diameter="20"></mat-spinner>
            </div>
            <!-- qty start -->
            <div class="block">
                <mat-form-field class="input_width">
                    <mat-label>Qty.</mat-label>
                    <input matInput formControlName="qty" type="number"  />
                </mat-form-field>

            </div>
            <!-- available start -->
            <div class="block">
                <mat-form-field class="input_width">
                    <mat-label>Available</mat-label>
                    <input matInput  matTooltip="Not Editable" readonly   [value]="availableItemById"/>
                </mat-form-field>

            </div>
            <!-- selling_price start -->
            <div class="block">
                <mat-form-field class="input_width">
                    <mat-label>Selling Price</mat-label>
                    <input matInput formControlName="selling_price" matTooltip="Not Editable" readonly />
                </mat-form-field>

            </div>
            <!-- total start -->
            <div class="block">
                <mat-form-field class="input_width">
                    <mat-label>Total</mat-label>
                    <input matInput matTooltip="Not Editable" formControlName="total" readonly [value]="getItemWiseTotal()" />
                </mat-form-field>

            </div>
            <!-- ADD BUTTON -->
            <button mat-raised-button color="primary" class="add_button" type="submit"  [disabled]="!this.formSupplier.value.item_id|| !this.formSupplier.value.qty ||this.formSupplier.value.item_id === '' || this.formSupplier.value.qty === '' ">
                {{isEditSalesItem? 'Update': 'Add'}}

            </button>
        </div>
    </div>
</form>
<br>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="purchaseItemDataSource" matSort matSortActive="item_code" matSortDirection="asc">
        <ng-container matColumnDef="item_code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
            <td mat-cell *matCellDef="let sales">
                {{ sales.item_code| titlecase }}
            </td>
        </ng-container>
        <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
            <td mat-cell *matCellDef="let sales">
                {{ sales.qty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="selling_price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
            <td mat-cell *matCellDef="let sales">
                {{ sales.selling_price | currency: 'INR' }}

            </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let sales">
                {{ sales.qty *  sales.selling_price | currency: 'INR'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" color="primary" type="button"
                    (click)="supplierFillForm(element.item_id)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Click to Delete" color="warn" (click)="removePurchaseDetails(element)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let supplierData; columns: displayedColumns"></tr>
    </table>
</div>
<br>
<mat-divider class="mat-divider"></mat-divider>
<br>
<!-- bill container -->
<div class="bill-container">
    <!-- <form [formGroup]="formBill" (ngSubmit)="onSubmit()"> -->
    <div class="flex totalAndBill">
        <span class="totalAndBill_content-1">
            <div class="width">
                <mat-form-field>
                    <mat-label>Total Qty</mat-label>
                    <input matInput disable matTooltip="Not Editable" [value]="totalQty" />
                </mat-form-field>
            </div>
            <div class="width">
                <mat-form-field>
                    <mat-label>Last Bill No</mat-label>
                    <input matInput disable [(ngModel)]="lastBillNo"  [value]="this.lastBillNo" />
                </mat-form-field>
            </div>
        </span>
        <span class="totalAndBill_content-2">
            <div class="width">
                <mat-form-field>
                    <mat-label>Total (₹)</mat-label>
                    <input matInput disable matTooltip="Not Editable"
                    [value]="total | currency: 'INR'" />
                </mat-form-field>
            </div>
            <div class="width">
                <mat-form-field>
                    <mat-label>Last Bill Due (₹)</mat-label>
                    <input matInput disable matTooltip="Not Editable"
                        value="{{this.lastBillDue  | currency: 'INR'}}" />
                </mat-form-field>
            </div>
        </span>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="flex remakesAndPayment">
        <div class="remakes">
            <textarea class="padding" id="" cols="60" rows="7" placeholder="Enter Remarks..."
                [(ngModel)]="remarks"></textarea>
        </div>
        <div class="payment">
            <div class="width">
                <mat-form-field>
                    <mat-label>Grand Total (₹) </mat-label>
                    <input matInput disable matTooltip="Not Editable"
                    [(ngModel)]="grandDueTotal"
                        />
                </mat-form-field>
            </div>
            <div class="width">
                <div class="flex">
                    <span>
                        <section class="checkbox-margin">
                            <mat-checkbox color="primary" (change)="hideShowOther()" [checked]="isShowOtherPayment"> </mat-checkbox>
                        </section>
                    </span>
                    <span>
                        <mat-form-field>
                            <mat-label>payment(₹) </mat-label>
                            <input matInput disable (keyup)="calculate()" formControlName="payment" />
                        </mat-form-field>
                    </span>
                </div>
                <div class="float">
                    <ng-container *ngIf="isShowOtherPayment">
                        <mat-form-field>
                            <mat-label>Other Payment (₹) </mat-label>
                            <input matInput disable formControlName="otherPayment"/>
                        </mat-form-field>
                    </ng-container>
                </div>



            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex tierLimitAndButton">
        <div><br> Due Limit:
            <span class="error">
                {{this.dueLimit | currency: 'INR'}}
            </span>
        </div>
        <div class="tierLimitAndButton_content_2">
            <div class="right">
                <mat-form-field>
                    <mat-label>Total Due (₹) </mat-label>
                    <input matInput disable matTooltip="Not Editable"
                    [(ngModel)]="totalDue"
                        value="{{this.totalDue | currency: 'INR'}}" />
                </mat-form-field>
            </div>
            <br>
            <div class="">
                <button mat-raised-button color="primary" (click)="savePurchase()">
                    <span *ngIf="!isShowLoader">
                        {{ !this.data.purchaseId ? 'Save & Back' : 'Update & Back' }}
                    </span>
                    <mat-spinner *ngIf="isShowLoader" diameter="20"></mat-spinner>
                </button>
            </div>
        </div>
    </div>
<!-- </form> -->
</div>
